{% extends 'user_management/base.html' %}
{% block title %}Order Details{% endblock %}
{% load static %}
{% block extra_css %}
{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto px-4 py-8">
    <h1 class="text-2xl font-semibold mb-6">Order Details</h1>
    <div class="bg-white shadow-lg rounded-lg p-6">
        <h2 class="text-lg font-medium text-gray-800 mb-4">
            <i class="fas fa-box mr-2 text-gray-400"></i> Order #{{ order.id }}
        </h2>
        <p class="text-gray-600 mb-2">
            <i class="fas fa-clipboard-list mr-2 text-gray-400"></i><strong>Status:</strong> {{ order.status }}
        </p>
        <p class="text-gray-600 mb-2">
            <i class="fas fa-wallet mr-2 text-gray-400"></i><strong>Total Price:</strong> Rs. {{ order.total_price }}
        </p>
        <p class="text-gray-600 mb-2">
            <i class="fas fa-calendar-alt mr-2 text-gray-400"></i><strong>Created At:</strong> {{ order.created_at }}
        </p>

        {% if order.shipping_address or order.payment_method %}
        <p class="text-gray-600 mb-2">
            <i class="fas fa-truck mr-2 text-gray-400"></i><strong>Shipping Address:</strong>
            {{ order.shipping_address }}
        </p>
        <p class="text-gray-600 mb-6">
            <i class="fas fa-credit-card mr-2 text-gray-400"></i><strong>Payment Method:</strong>
            {{ order.payment_method }}
        </p>
        {% endif %}

        <h3 class="text-2xl font-medium text-gray-800 mb-2 mt-6">
            <i class="fas fa-cogs mr-2 text-gray-400"></i> Items in Order
        </h3>
        <ul class="divide-y divide-gray-200">
            {% for item in order_items %}
            <li class="py-4 flex justify-between">
                <div class="flex items-center space-x-3">
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.title }}"
                        class="w-8 h-8 object-cover rounded-sm">
                    <div>
                        <p class="text-gray-800 font-medium">{{ item.product.title }}</p>
                        {% if not item.product.is_auction_product %}
                        <p class="text-gray-500 text-sm">Quantity: {{ item.quantity }}</p>
                        {% endif %}
                    </div>
                </div>
                {% if not item.product.is_auction_product %}
                <p class="text-black-600">Rs. {{ item.total_price }}</p>
                {% else %}
                <p class="text-black-600">Auctioned Product [Rs. {{ item.auction_price }}]</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>

        {% if order.status == 'Pending' %}
        <div class="mt-6">
            <a href="{% url 'product:payment' order.id %}"
                class="bg-teal-600 text-white px-4 py-2 rounded hover:bg-teal-700 items-center space-x-2">
                <i class="fas fa-credit-card"></i>
                <span>Pay Now</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}